{% extends "base.html" %}
{% load static %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <div class="flex align-top justify-center mt-2">
        <div class="flex-none">
            {% if form.errors %}
                <p class="font-bold">Hasła nie są takie same!</p>
            {% endif %}
        </div>
    </div>
    <div class="flex justify-center align-middle mt-10">

        <div class="bg-white shadow-md focus-within:shadow-xl duration-200 flex align-middle p-10 justify-center w-1/4 rounded-3xl">
            <div>
                <div class="flex-none align-top justify-center mb-5">
                    <h2 class="font-bold text-2xl">Wprowadź nowe haslo</h2>
                    <h1 class="text-xl">Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane
                        poprawnie.</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td><img id="user-icon" src="{% static 'images/password-logo.png' %}" alt="user"
                                     class="w-8 h-auto"></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td><img id="home-logo" src="{% static 'images/password-logo.png' %}" alt="password"
                                     class="w-8 h-auto"></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                    </table>
                    <div class="flex align-top justify-center mt-2">
                        <input type="submit" value="Zmień hasło" class="bg-black text-white h-16 w-26 p-2 rounded-xl">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>

    </div>


{% endblock %}
