header {
    background-color: orange;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-right: 10%;
}

h2 {
    margin: 0;
    font-size: 30px;
}

ul#menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav img {
    height: 60px;
    width: auto;
}

li {
    align-items: center;
    margin: 0 3%;
    font-size: 24px;
}

header li:hover {
    opacity: 0.5;
    transition: 0.3s;
}

header a {
    text-decoration: none;
    color: black;
}


body {
    margin: 0;
}
