{% extends "base.html" %}

{% block title %}Kategorie{% endblock %}

{% block content %}
    <h1>To twoje kategorie:</h1>
    <ul>
        {% for category in categories_list %}
            <li><a href="{% url 'category' category_name=category.name %}">{{ category.name }}</a></li>

        {% endfor %}
    </ul>

    <div class="forms">
        <p>Dodaj nowa kategorie</p>
        <form action="{% url 'categories' %}" method="POST" id="categories">
            {% csrf_token %}
            {{ form_category.as_p }}
            <button type="submit">Wyślij</button>
        </form>
    </div>
{% endblock %}
