{% extends "base.html" %}

{% block title %}Finanse{% endblock %}

{% block content %}
    <h1>To twoje mozliwosci finansowe:</h1>

    <div class="forms">
        <p>Dodaj nowy wydatek</p>
        <form action="/home/" method="POST" id="expenses">
            {% csrf_token %}
            {{ form_expanses.as_p}}
            <button type="submit">Wyślij</button>
        </form>
        <p>Dodaj nowy dochod</p>
        <form action="/home/" method="POST" id="incomes">
            {% csrf_token %}
            {{ form_incomes.as_p }}
            <input type="submit" value="Wyslij">
        </form>
    </div>
{% endblock %}
