{% extends "base.html" %}

{% block title %}Finanse{% endblock %}

{% block content %}
    <h1>To twoje mozliwosci finansowe:</h1>

    <div class="forms">
        <form action="" method="post">
            {% csrf_token %}
            <label for="{{ form.title.id_for_label }}">Tytul:</label>
            <input id="{{ form.title.id_for_label }}" type="text" name="name" required>
            <br>
            <label for="{{ form.description.id_for_label }}">Opis:</label>
            <input id="{{ form.description.id_for_label }}" type="text" name="description">
            <br>
            <label for="{{ form.amount.id_for_label }}">Kwota:</label>
            <input id="{{ form.amount.id_for_label }}" type="number" step="0.01" name="amount" required>
            <br>
            <input type="submit" value="Wyslij">
        </form>
    </div>


{% endblock %}
