{% extends "base.html" %}

{% block title %}Finanse{% endblock %}

{% block content %}
    <h1>To twoje mozliwosci finansowe:</h1>

    <div class="forms">
        <form action="../home/" method="post">
            {% csrf_token %}
            {{ form_expanses.as_p }}
            <input type="submit" value="Wyslij">
        </form>

        <form action="../home/" method="post">
            {% csrf_token %}
            {{ form_incomes.as_p }}
            <input type="submit" value="Wyslij">
        </form>

    </div>


{% endblock %}
