{% extends "base.html" %}

{% block title %}Portfele{% endblock %}

{% block content %}
    <h1>To twoje portfele:</h1>
    <ul>
        {% for wallet in wallets_list %}
            <li><a href="{% url 'wallet' wallet_name=wallet.name %}">{{ wallet.name }}</a></li>

        {% endfor %}
    </ul>

    <div class="forms">
        <p>Dodaj nowy portfel</p>
        <form action="{% url 'wallets' %}" method="POST" id="wallets">
            {% csrf_token %}
            {{ form_wallet.as_p }}
            <button type="submit">Wyślij</button>
        </form>
    </div>


{% endblock %}
